.example-spacer {
  flex: 1 1 auto;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 100%;
}
th {
  // background: blue;
  height: 30px;
}
tr {
  // background: red;
  height: 30px;
  text-align: center;
}
.tb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  margin-top: 15px;
}
.mat-toolbar {
  background: #ccc;
}
.icon {
  cursor: pointer;
}
.mat-form-field {
  background: red;
}
