<mat-toolbar>
  <mat-toolbar-row class="header">
    <span class="input">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          placeholder="Search"
          [formControl]="filterControl"
          matTooltip="Filter List"
        />
        <mat-icon
          matSuffix
          (click)="onClearFilter()"
          class="icon"
          matTooltip="Clear search"
          >close</mat-icon
        >
      </mat-form-field>
    </span>
    <span class="example-spacer"></span>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a bookmark icon"
      (click)="openDialog('add', null)"
      matTooltip="Add User To The List"
      aria-label="Button that displays a tooltip when focused or hovered over"
    >
      <mat-icon>add </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card> </mat-card>

<div class="tb">
  <table>
    <tr>
      <th>S.No</th>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let user of filteredList">
      <td>{{ user.id }}</td>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.address }}</td>
      <td>
        <button
          mat-flat-button
          color="primary"
          (click)="openDialog('edit', user)"
          matTooltip="Update The User Info"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          Update
        </button>
      </td>
      <td>
        <button
          mat-flat-button
          color="warn"
          (click)="deleteDialogOpen(user.id)"
          matTooltip="Are You Sure About it?"
          aria-label="Button that displays a tooltip when focused or hovered over"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>

<!-- (click)="onDelete(user.id)" -->
